
<table>
  <tr>
    <td colspan="6"><input type="text" [(ngModel)]="display" class="input"></td>
  </tr>
  
  <tr>
      <td width="45"><button  class="button" (click)="SetDisplay('(')">(</button></td>
      <td width="45"><button  class="button" (click)="SetDisplay(')')">)</button></td>
   <td width="45"><button  class="button" (click)="CE()">CE</button></td>
   <td width="45"><button  class="button" (click)="C()">C</button></td>
   <td width="45"><button  class="button" (click)="SetDisplay2('^')">^</button></td>
</tr>
 <tr>
  <td width="45"><button  class="button" (click)="SetDisplay('7')">7</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('8')">8</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('9')">9</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('x')">x</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('+')">+</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="SetDisplay('4')">4</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('5')">5</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('6')">6</button></td>
  <td width="45"><button  class="button" (click)="Draw()">Draw</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('-')">-</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="SetDisplay('1')">1</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('2')">2</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('3')">3</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('sqrt(')">sqrt</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('*')">*</button></td>
</tr>
<tr>
  <td width="45"><button  class="button" (click)="SetDisplay2('.')">.</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay('0')">0</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('e')">e</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('3,1415926535897932384626433832795')">pi</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay2('/')">/</button></td>
</tr>
<tr>
    <td width="45"><button  class="button" (click)="Inv()">inv</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay3('sin')">{{inv?'asin':'sin'}}</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay3('cos')">{{inv?'acos':'cos'}}</button></td>
  <td width="45"><button  class="button" (click)="SetDisplay3('tan')">{{inv?'atan':'tan'}}</button></td>
  <td width="45"><button  class="button" (click)="EvaluateSum()" class="button jednako">=</button></td>
</tr>
</table>
{{error}}
<div>
  <canvas #myCanvas class="canvas"></canvas>
</div>


